[submodule "Suwayomi-Server"]
    path = Suwayomi-Server
    url = https://github.com/KolbyML/Suwayomi-Server.git
[submodule "Suwayomi-WebUI"]
    path = Suwayomi-WebUI
    url = https://github.com/KolbyML/Suwayomi-WebUI.git
